{{#if multaTotal includeZero=true}}
    <div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800">
        <div class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs">
            <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="/img/penalty.png" alt="penalty">
            <h1 class="text-lg text-gray-700"> Universidad de las Americas </h1>
            <h3 class="text-sm text-gray-400 "> Equipamiento y Multas </h3>
            <h1 class="text-lg text-red-400 mt-4"> $ {{multaTotal}} </h1>
            <button class="bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide"><a href="/">Regresar</a></button>
        </div>
    </div>
{{/if}}